mixin products()
  +b.products&attributes(attributes)
    +e.H2.heading.is-anim(data-delay='200') Научный подход<br> к чистоте зубов
    +e.flag.show-md.is-anim(data-delay='200') Новинка
    +e.blocks
      +e.background.is-anim(data-delay='700')
        +e.IMG(src='assets/images/toplight.png').toplight
        +e.IMG(src='assets/images/bottomlight.png').bottomlight
      +e.block._left
        +e.desc.is-anim(data-delay='1000')
          +e.P.text PRO PLAN® Dental Pro Bar разработан ветеринарными врачами для поддержания здоровья полости рта вашей собаки.
            br
            span.show-lg  Угощайте свою собаку лакомствами с&nbsp;научно доказанной пользой!
          +button().__button.is-anim(href='https://shop.purina.ru/sobaki/lakomstva/lakomstvo-dlja-sobak-purina-pro-plan-dental-probar-dlja-podderzhanija-zdorov-ja-polosti-rta-pauch-150-g' data-delay='1500') Подробнее
        +e.A(href='https://shop.purina.ru/sobaki/lakomstva/lakomstvo-dlja-sobak-purina-pro-plan-dental-probar-dlja-podderzhanija-zdorov-ja-polosti-rta-pauch-150-g' data-delay='500').image.is-anim
          img(src='assets/images/product1.png').hide-md
          +e.IMG(src='assets/images/toplight.png').light
          img(src='assets/images/product1md.png').show-md
      +e.block._right
        +e.A(href='https://shop.purina.ru/sobaki/lakomstva/lakomstvo-dlya-sobak-purina-pro-plan-dental-probar-small-mini-dlya-podderzhaniya-zdorovya-polosti-rta-pauch-150-g' data-delay='500').image.is-anim
          img(src='assets/images/product2.png').hide-md
          +e.IMG(src='assets/images/toplight.png').light
          img(src='assets/images/product2md.png').show-md
        +e.desc.is-anim(data-delay='1000')
          +e.P.flag.hide-md.is-anim(data-delay='2000') Новинка
          +e.P.text Теперь PRO PLAN® Dental Pro Bar доступен в новой форме – специально для маленьких собак.
          +button().__button.is-anim(href='https://shop.purina.ru/sobaki/lakomstva/lakomstvo-dlya-sobak-purina-pro-plan-dental-probar-small-mini-dlya-podderzhaniya-zdorovya-polosti-rta-pauch-150-g' data-delay='1500') Подробнее
    +e.P.bottom.is-anim(data-delay='2000') Угощайте свою собаку лакомствами с научно<br> доказанной пользой!
        