extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.index
    +header()
    +screen(true)._carousel#carousel
      +carousel().__carousel
    +screen()._products#products
      +products().__products
