extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.index
    +header()
    +screen(true)#carousel.is-visible
      +carousel().__carousel
      +e.A(href='#products').scroll-btn
        +icon('scroll')
    +screen()._products#products.is-hidden
      +products()
