.button {
  display: inline-block;
  padding: 10px 48px;
  border: 2px solid $color-main;
  border-radius: 20px;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-main;
  background-color: #000;
  transition: background-color $ease-main, color $ease-main;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover,
  &.is-active {
    background-color: $color-main;
    color: #000;
    opacity: 1;
  }
}
