@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PlayRegular.eot');
  src:
    url('../fonts/PlayRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlayRegular.woff2') format('woff2'),
    url('../fonts/PlayRegular.woff') format('woff'),
    url('../fonts/PlayRegular.ttf')  format('truetype'),
    url('../fonts/PlayRegular.svg#PlayRegular') format('svg');
}

@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Calibri.eot');
  src:
    url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri.woff2') format('woff2'),
    url('../fonts/Calibri.woff') format('woff'),
    url('../fonts/Calibri.otf')  format('opentype'),
    url('../fonts/Calibri.ttf')  format('truetype'),
    url('../fonts/Calibri.svg#Calibri') format('svg');
}

@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/CalibriBold.eot');
  src:
    url('../fonts/CalibriBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CalibriBold.woff2') format('woff2'),
    url('../fonts/CalibriBold.woff') format('woff'),
    url('../fonts/CalibriBold.otf')  format('opentype'),
    url('../fonts/CalibriBold.ttf')  format('truetype'),
    url('../fonts/CalibriBold.svg#CalibriBold') format('svg');
}
