mixin screen(gradient)
  +b.screen&attributes(attributes)
    +e.wrapper
      if gradient
        +e.IMG(src='assets/images/gradient.png' data-delay='200').gradient.is-anim
      +e.container
        block
